a{
    &:hover{
        color: var(--accent-alpha-70);
    }
}

figure {
    &:nth-of-type(odd){
        margin-right: auto;
        text-align: left;
    }
    
    &:nth-of-type(even){
        margin-left: auto;
        text-align: right;
    }

    &.center{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
        
    img {
        display: inline-block;
        border-radius: 5px;
    }

    figcaption {
        font-size: 14px;
        padding: 5px 10px;
        margin-top: 5px;
        background: none;
        color: var(--accent);
        font-style: italic;
    }
}


blockquote{
    span.diff {
        color:red;
        font-weight: bold;
    }

    div.author{
        margin-top: 1em;
        font-size: 0.9em;
        text-align: right;
        padding-right: 16px;
        color: var(--accent-alpha-70)
    }
}

.tiny{
    font-size: 0.88em;
}

div.encart{

    display: flex;
    flex-direction: row;
    border: 2px solid var(--accent-alpha-20);
    width: calc(100% - 32px);
    margin-left: auto;

    .icon {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
        padding: 5px 5px;
    }

    .content{
        padding: 5px 10px;
    }
}

.center{
    text-align: center;
}

.right {
    text-align: right;
}

.search_box {
    input[type=text]{
        display: block;
        width: 95%;
        font-size: 1.2em;
        padding: 4px 8px;
        margin: auto;
    }

    #search_box_result{
        div{
            width: calc(100% - 2em);
            margin-left: 2em;
        }

        h4{
            border-bottom: none;
        }
    }
}